.namecompany {
position: absolute;
width: 205px;
height: 54px;
left: 225px;
top: 528px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 54px;
display: flex;
align-items: flex-end;
text-transform: uppercase;
color: #FFFFFF;

    
}

.compactivity {
    color: white;
    position: absolute;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    height: 16px;
    width: 317px;
    left: 225px;
    top: 593px;

}

.startslogan {
    color:#F48E0B;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0px;
    height: 55px;
    width: 100px;
    left: 247px;
    top: 665px;
    border-radius: nullpx;

    
}


.endslogan {
    position: absolute;
    width: 619px;
    height: 55px;
    left: 410px;
    top: 670px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.slogan {
    position: absolute;
    width: 833px;
    height: 135px;
    left: 225px;
    top: 636px;
    border-radius: 0px;
    

}
.vl {
    width: 133.01px;
    height: 4px;
    background: #F48E0B;
    transform: rotate(90.00deg);
    margin-left: 295px;
    margin-top: 700px;

}